<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Echo email confirmed</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="header">
        <div class="header__container">
            <img class="header_logo" src="img/echo.png" alt="logo">
        </div>
    </header>
    <main class="confirm__block">
        <div class="confirm__email">
            <p class="confirm__text">Ваш адрес эл.почты <br><span class="email_confirmed">ivanov@mail.ru</span> подтвержден!</p>
        </div>
        <button class="further__button intro__buttons">Далее</button>
    </main>
<script src="script.js"></script>
</body>
</html>