<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Echo hobby feed</title>
    <link rel="stylesheet" href="../static/stylefeed.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header__block profile">
        <div class="profile__cap">
            <a href="../profile/" class="profile__cap_link"><img class="back__arrow" src="../static/img/left_arrow.svg" alt="back"></a>
            <div class="profile__cap_text">Хобби и досуг</div>
            <a href="#" class="profile__cap_link"><img class="edit_icon" src="../static/img/plus.svg" alt="plus"></a>
        </div>
    </header>
    <main class="main__block feed">
        
    </main>
</body>
</html>