<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onboarding</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="onb__header">
            <a href="#" class="onb__link">Пропустить</a>
        </div>
    </header>
    <main class="main">
        <div class="onboarding__content onb">
            <h1 class="onb__title">Выбери то, что тебе интересно</h1>
            <p class="onb__text">Ты всегда сможешь изменить <br> свой выбор в профиле ;)</p>
            <div class="onb__options">
                <div class="onb__options_item">
                    <div class="item_checkbox_field">
                        <img src="../static/img/books.png" alt="books" class="checkbox_bg">
                        <input type="checkbox" name="books" id="books" class="checkbox_input">
                    </div>
                    <label for="books" class="checkbox_label">Книги и статьи</label>
                </div>
                <div class="onb__options_item">
                    <div class="item_checkbox_field">
                        <img src="../static/img/cafe.png" alt="cafe" class="checkbox_bg">
                        <input type="checkbox" name="cafe" id="cafe" class="checkbox_input">
                    </div>
                    <label for="cafe" class="checkbox_label">Кафе и рестораны</label>
                </div>
                <div class="onb__options_item">
                    <div class="item_checkbox_field">
                        <img src="../static/img/movies.png" alt="movie" class="checkbox_bg">
                        <input type="checkbox" name="movie" id="movie" class="checkbox_input">
                    </div>
                    <label for="movie" class="checkbox_label">Кино и сериалы</label>
                </div>
                <div class="onb__options_item">
                    <div class="item_checkbox_field">
                        <img src="../static/img/exibitions.png" alt="exibitions" class="checkbox_bg">
                        <input type="checkbox" name="exibition" id="exibition" class="checkbox_input">
                    </div>
                    <label for="exibition" class="checkbox_label">Выставки</label>
                </div>
                <div class="onb__options_item">
                    <div class="item_checkbox_field">
                        <img src="../static/img/concerts.png" alt="concerts" class="checkbox_bg">
                        <input type="checkbox" name="concerts" id="concerts" class="checkbox_input">
                    </div>
                    <label for="concerts" class="checkbox_label">Спектакли и концерты</label>
                </div>
            </div>
            <div class="onb__button_field">
                <button class="onb__button" type="submit">Далее</button>
            </div>
        </div>
    </main>
</body>
</html>