<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onboarding
    </title>
</head>
<body>
    <main class="main">
        <div class="onboarding__content onb">
            <a href="#" class="onb__link">Пропустить</a>
            <h1 class="onb__title">Выбери то, что тебе интересно</h1>
            <p class="onb__text">Ты всегда сможешь изменить свой выбор в профиле ;)</p>
            <div class="onb__options">
                
            </div>
        </div>
    </main>
</body>
</html>