<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Echo registration</title>
    <link href="{% static '../static/style.css' %}" type="text/css" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="header__container">
            <img class="header_logo" src="/static/img/echo.png" alt="logo">
        </div>
    </header>
    <main class="registration__block">
        <form class="registration__form form" action="post">
            <div class="form__item">
                <label class="form_label" for="email">Почта</label>
                <input type="email" name="email" id="email" placeholder="example@gmail.com" class="form_input" required>
            </div>
            <div class="form__item">
                <label class="form_label" for="password">Пароль</label>
                <input type="password" name="password" id="password" placeholder="Пароль" class="form_input" required>
            </div>
            <p class="form__text">Есть аккаунт? <a class="login_link" href="../">Войдите</a></p>
            <button type="submit" class="formsubmit_button intro__buttons">Зарегистрироваться</button>
        </form>
        <p class="welcometext">или</p>
        <button class="intro__buttons vk__button"> <img class="vk_icon" src="/static/img/24.png" alt="VK"> Войти через ВКонтакте</button>
    </main>
</body>
<script src="/static/script.js"></script>
</body>
</html>