<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Echo profile</title>
    <link rel="stylesheet" href="styleprofile.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header__block profile">
        <div class="profile__cap">
            <a href="#" class="profile__cap_link"><img class="back__arrow" src="../img/left_arrow.svg" alt="back"></a>
            <div class="profile__cap_text">Профиль</div>
            <a href="#" class="profile__cap_link"><img class="edit_icon" src="../img/edit_icon.svg" alt="edit"></a>
        </div>
    </header>
    <main class="main__block">
        <div class="profile__content profile">
            <div class="profile__info">
                <img src="../img/profile_photo.jpg" alt="photo" class="profile__photo">
                <h2 class="profile__name">Мария Иванова</h2>
                <p class="profile__nikname">@mari.iva</p>
            </div>
            <div class="profile__menu">
                <div class="profile__menu_item">
                    <div class="profile__menu_item-right">
                        <img src="../img/category_icon.svg" alt="categories" class="profile__menu_item-icon">
                        <a href="#" class="profile__menu_item-link">Мои категории</a>
                    </div>
                    <a href="#" class="profile__menu_item-arrow"><img src="../img/next_icon.svg" class="arrow_icon" alt="go"></a>
                </div>
                <div class="profile__menu_item">
                    <div class="profile__menu_item-right">
                        <img src="../img/publications_icon.svg" alt="publications" class="profile__menu_item-icon">
                        <a href="#" class="profile__menu_item-link">Мои публикации</a>
                    </div>
                    <a href="#" class="profile__menu_item-arrow"><img src="../img/next_icon.svg" class="arrow_icon" alt="go"></a>
                </div>
                <div class="profile__menu_item">
                    <div class="profile__menu_item-right">
                        <img src="../img/ticket_icon.svg" alt="events" class="profile__menu_item-icon">
                        <a href="#" class="profile__menu_item-link">Мои мероприятия</a>
                    </div>
                    <a href="#" class="profile__menu_item-arrow"><img src="../img/next_icon.svg" class="arrow_icon" alt="go"></a>
                </div>
                <div class="profile__menu_item">
                    <div class="profile__menu_item-right">
                        <img src="../img/bell_icon.svg" alt="bell" class="profile__menu_item-icon">
                        <a href="#" class="profile__menu_item-link">Уведомления</a>
                    </div>
                    <a href="#" class="profile__menu_item-arrow"><img src="../img/next_icon.svg" class="arrow_icon" alt="go"></a>
                </div>
                <div class="profile__menu_item">
                    <div class="profile__menu_item-right">
                        <img src="../img/bookmark_icon.svg" alt="bookmark" class="profile__menu_item-icon">
                        <a href="#" class="profile__menu_item-link">Избранное</a>
                    </div>
                    <a href="#" class="profile__menu_item-arrow"><img src="../img/next_icon.svg" class="arrow_icon" alt="go"></a>
                </div>
                <div class="profile__menu_item">
                    <div class="profile__menu_item-right">
                        <img src="../img/settings_icon.svg" alt="settings" class="profile__menu_item-icon">
                        <a href="#" class="profile__menu_item-link">Настройки</a>
                    </div>
                    <a href="#" class="profile__menu_item-arrow"><img src="../img/next_icon.svg" class="arrow_icon" alt="go"></a>
                </div>
            </div>
            <div class="profile__menu_settings">
                <div class="profile__menu_item">
                    <div class="profile__menu_item-right">
                        <img src="../img/message.svg" alt="settings" class="profile__menu_item-icon">
                        <a href="#" class="profile__menu_item-link">Справочный центр</a>
                    </div>
                    <a href="#" class="profile__menu_item-arrow"><img src="../img/next_icon.svg" class="arrow_icon" alt="go"></a>
                </div>
                <div class="profile__menu_item">
                    <div class="profile__menu_item-right">
                        <img src="../img/help.svg" alt="settings" class="profile__menu_item-icon">
                        <a href="#" class="profile__menu_item-link">Помощь</a>
                    </div>
                    <a href="#" class="profile__menu_item-arrow"><img src="../img/next_icon.svg" class="arrow_icon" alt="go"></a>
                </div>
            </div>
            <a href="#" class="exit_link">Выйти из профиля</a>
        </div>
    </main>
    
</body>
</html>