*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active {
    outline: none;
}
a:focus,a:active {
    outline: none;
}
nav, footer, header,aside {
    display: block;
}
html, body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input, button,textarea{
    font-family: inherit ;
}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0; border: 0;}
a, a:visited{text-decoration: none; color: inherit;}
ul li {list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6 {font-size: inherit; font-weight: 400;}


body{
    width: 375px;
    margin: 0 auto;
    font-family: 'Sarala', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
.header__container{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.header_logo{
    max-width: 160px;
    margin-top: 148px;
}
.login__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 40px;
}
.welcometextintro{
    font-size: 22px;
    font-weight: 700;
}
.intro__form{
    margin-top: 82px;
}
.intro__buttons{
    width: 351px;
    border-radius: 10px;
    margin-top: 24px ;
    padding: 14px 12px;
    font-size: 17px;
}
.intro__buttons:hover{
    background-color: #9181FE;
}
.login__button{
    background-color: #9181FE;
    color: white;
}
.authorised__button, .formsubmit_button{
    background-color: #DDDBFF;
    color: white;
}
.welcometext{
    font-size: 14px;
    line-height: 22.83px;
    margin: 15px 0;
}
.vk__button{
    background-color: #F8F7FF;
    color: #5B5B5B;
    margin-top: 0;
    font-size: 14px;
}
.conditions{
    font-size: 10px;
    max-width: 277px;
    margin: 150px 0 22px;
    font-size: 12px;
}
.conditions__link{
    text-decoration: underline;
}


.authorisation__block, .registration__block, .confirm__block, .pasrec__block{
    margin: 60px 16px;
    text-align: center;
    padding-bottom: 150px;
}
.authorisation__form, .registration__form{
    display: flex;
    flex-direction: column;
    margin: 12px auto;
}
.form_label{
    font-size: 14px;
    color: #444444;
    text-align: left;
    margin-top: 15px;
}
.form__item{
    text-align: left;
    margin-top: 15px;
}
.form_input{
    width: 343px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #DDDBFF;
    background-color: #F8F7FF;
    font-size: 16px;
    margin: 13px 0;
    color: #353631;
    padding: 10px;
}
.form_input::placeholder{
    color: #B6B6B6;
}
.form__text{
    text-align: center;
    margin: 47px 0;
    font-size: 13px;
    font-weight: 400;
}
.login_link{
    text-decoration: underline;
    cursor: pointer;
}

.confirm__block{
    margin: 150px 16px;
    text-align: center;
}
.confirm__text{
    font-size: 16px;
    line-height: 30px;
}
.further__button{
    margin-top: 36px;
    background-color: #9181FE;
    color: #FDFDFD;
    font-size: 16px;
    line-height: 20px;
    transition: translate 0.5 ease;
}
.further__button:hover{
    translate: 3px, 0;
}
.email_confirmed{
    color: #FCAE59;
}

.greeting{
    margin: 30px 16px;
    text-align: center;
}
.greeting__form{
    margin-top: 25px;
}

.form__title{
    font-family: 'Sarala', sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    color: #444444;
}
.form__hint{
    font-size: 16px;
    color: #444444;
    line-height: 22px;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 30px;
}
.form_inputs{
    display: flex;
    justify-content: space-between;
}
.form__input_num{
    max-width: 53.4px;
    width: 100%;
    height: 70px;
    background-color: #F8F7FF;
    border-radius: 10px;
    border: 0.5px solid #DDDBFF;
    text-align: center;
    font-size: 28px;
    color: #444444;
    font-weight: 400;
}


.onb__header{
    text-align: right;
    margin: 23px 16px 21px;
}
.onb__link{
    color: #9181FE;
    font-style: normal;
}
.onboarding__content{
    text-align: center;
}
.onb__title{
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    font-style: normal;
}
.onb__text{
    margin-top: 8px;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
    word-wrap: break-word;
}
.onb__options{
    margin: 20px 16px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.onb__options_item{
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 160px;
    width: 100%;
    margin-bottom: 26px;
    font-family: Sarala;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; 
    color: #666666;
}
.onb__options_item:nth-child(odd){
    margin-right: 20px;
}
.item_checkbox_field{
    position: relative;
}
.checkbox_input{
    width: 40px;
    height: 40px;
    border-radius: 24px;
    position: absolute;
    bottom: 12px;
    right: 12px;
    background-image: url('../add_20.svg');
}
.checkbox_label{
    margin-top: 8px;
}
.onb__button{
margin: 12px 0;
min-width: 351px;
min-height: 44px;
background-color: #B8B8FE;
color: #FDFDFD;
border-radius: 10px;
font-family: 'Sarala', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 22px;
}
.onb__button:hover, .onb__button:active{
    background-color: #9181FE;
}

.main__block{
    margin: 0 auto;
    min-width: 375px;
    width: 100%;
    text-align: center;
    font-family: "Sarala", sans-serif;
}
.content__block{
    margin: 180px 16px 0 16px;
}
.contant__icon_bat{
    width: 236px;
    height: 236px;
}
.content__block_title{
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
}
.content__block_text{
    margin-top: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}
.content__block_button{
    margin-top: 38px;
}
.content__block_button-item{
    min-width: 351px;
    min-height: 44px;
    background-color: #9181FE;
    color: #ffffff;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    margin: 0 12px;
}