<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password recovery</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="header__container">
            <img class="header_logo" src="../img/echo.png" alt="logo">
        </div>
    </header>
    <main class="pasrec__block">
        <div class="recovery__form">
            <form action="get" class="recovery__form_block">
                <h1 class="form__title">Пароль успешно изменен!</h1>
                <p class="form__hint">С возвращением!</p>
                <a href="#"><button class="login__button intro__buttons">Войти</button></a></button>
            </form>
        </div>
    </main>
</body>
<script src="../script.js"></script>
</html>