<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password recovery</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="header__container">
            <img class="header_logo" src="../img/echo.png" alt="logo">
        </div>
    </header>
    <main class="pasrec__block">
        <div class="recovery__form">
            <form action="get" class="recovery__form_block">
                <h1 class="form__title">Восстановить пароль</h1>
                <p class="form__hint">2. Введите код из письма</p>
                <div class="form_inputs">
                    <input type="text" class="form__input_num" required maxlength="1" autofocus>
                    <input type="text" class="form__input_num" required maxlength="1">
                    <input type="text" class="form__input_num" required maxlength="1">
                    <input type="text" class="form__input_num" required maxlength="1">
                    <input type="text" class="form__input_num" required maxlength="1">
                </div>
                <button type="submit" class="further__button intro__buttons">Продолжить</button>
            </form>
            <p class="welcometext">или</p>
            <button class="intro__buttons vk__button"> <img class="vk_icon" src="../img/24.png" alt="VK"> Войти через ВКонтакте</button>
        </div>

    </main>
</body>
<script src="../script.js"></script>
</html>