<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Echo</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <main class="main__block">
        <div class="content__block">
            <img src="../static/img/bat.svg" alt="bat" class="contant__icon_bat">
            <h2 class="content__block_title">Спасибо, что присоединился <br>к нашей команде</h2>
            <p class="content__block_text">Нам было грустно без тебя ;)</p>
        </div>
        <div class="content__block_button">
            <a href="{% url 'profile' %}"><button class="content__block_button-item">Полетели!</button></a>
        </div>
    </main>   
</body>
</html>